In [55]:
import pandas as pd

In [56]:
league_21_to_22 = pd.read_csv('top5_leagues_standings.csv').drop(columns=['league_id', 'team_id'])
league_23_to_25 = pd.read_csv('all_leagues_team_records.csv').drop(columns=['league_code', 'team_id'])

In [57]:
league_21_to_22

,season,league,team_name,played,wins,draws,losses,points,goal_diff
0,2021,Premier League,Manchester City,38,29,6,3,93,73
1,2021,Premier League,Liverpool,38,28,8,2,92,68
2,2021,Premier League,Chelsea,38,21,11,6,74,43
3,2021,Premier League,Tottenham,38,22,5,11,71,29
4,2021,Premier League,Arsenal,38,22,3,13,69,13
...,...,...,...,...,...,...,...,...,...
191,2022,Ligue 1,Nantes,38,7,15,16,36,-18
192,2022,Ligue 1,Auxerre,38,8,11,19,35,-28
193,2022,Ligue 1,Ajaccio,38,7,5,26,26,-51
194,2022,Ligue 1,Estac Troyes,38,4,12,22,24,-36
195,2022,Ligue 1,Angers,38,4,6,28,18,-48

In [58]:
league_23_to_25

,league_name,season,team_name,wins,draws,losses,played,points,goals_for,goals_against
0,Bundesliga,2023,Bayer 04 Leverkusen,28,6,0,34,90,89,24
1,Bundesliga,2023,VfB Stuttgart,23,4,7,34,73,78,39
2,Bundesliga,2023,FC Bayern München,23,3,8,34,72,94,45
3,Bundesliga,2023,RB Leipzig,19,8,7,34,65,77,39
4,Bundesliga,2023,Borussia Dortmund,18,9,7,34,63,68,43
...,...,...,...,...,...,...,...,...,...,...
523,Serie A,2025,AC Pisa 1909,1,6,4,11,9,8,14
524,Serie A,2025,Parma Calcio 1913,1,5,5,11,8,7,14
525,Serie A,2025,Genoa CFC,1,4,6,11,7,8,16
526,Serie A,2025,Hellas Verona FC,0,6,5,11,6,6,16
527,Serie A,2025,ACF Fiorentina,0,5,6,11,5,9,18

In [59]:
league_21_to_22['league'].unique()

array(['Premier League', 'La Liga', 'Serie A', 'Bundesliga', 'Ligue 1'],
      dtype=object)

In [60]:
# only include the top 5 leagues
league_23_to_25 = league_23_to_25[league_23_to_25['league_name'].isin(['Bundesliga', 'Ligue 1', 'Primera Division', 'Premier League', 'Serie A'])]
league_23_to_25['league_name'].unique()

array(['Bundesliga', 'Ligue 1', 'Primera Division', 'Premier League',
       'Serie A'], dtype=object)

In [61]:
# rename 'Primera Division' to 'La Liga' to match other df
league_23_to_25['league_name'] = league_23_to_25['league_name'].apply(lambda x: 'La Liga' if x == 'Primera Division' else x)

# calculate goals_diff column to match other df
league_23_to_25['goal_diff'] = league_23_to_25['goals_for'] - league_23_to_25['goals_against']

# rename column names to match df
league_23_to_25 = league_23_to_25.rename(columns={'league_name': 'league'})

league_23_to_25

/var/folders/q3/5_2c3qgd7hs_m8wkyzqfbjgh0000gn/T/ipykernel_36010/3710724612.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  league_23_to_25['league_name'] = league_23_to_25['league_name'].apply(lambda x: 'La Liga' if x == 'Primera Division' else x)
/var/folders/q3/5_2c3qgd7hs_m8wkyzqfbjgh0000gn/T/ipykernel_36010/3710724612.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  league_23_to_25['goal_diff'] = league_23_to_25['goals_for'] - league_23_to_25['goals_against']

,league,season,team_name,wins,draws,losses,played,points,goals_for,goals_against,goal_diff
0,Bundesliga,2023,Bayer 04 Leverkusen,28,6,0,34,90,89,24,65
1,Bundesliga,2023,VfB Stuttgart,23,4,7,34,73,78,39,39
2,Bundesliga,2023,FC Bayern München,23,3,8,34,72,94,45,49
3,Bundesliga,2023,RB Leipzig,19,8,7,34,65,77,39,38
4,Bundesliga,2023,Borussia Dortmund,18,9,7,34,63,68,43,25
...,...,...,...,...,...,...,...,...,...,...,...
523,Serie A,2025,AC Pisa 1909,1,6,4,11,9,8,14,-6
524,Serie A,2025,Parma Calcio 1913,1,5,5,11,8,7,14,-7
525,Serie A,2025,Genoa CFC,1,4,6,11,7,8,16,-8
526,Serie A,2025,Hellas Verona FC,0,6,5,11,6,6,16,-10
527,Serie A,2025,ACF Fiorentina,0,5,6,11,5,9,18,-9

In [62]:
# reorder columns
league_23_to_25 = league_23_to_25[['season', 'league', 'team_name', 'played', 'wins', 'draws', 'losses', 'points', 'goal_diff']]
league_23_to_25

,season,league,team_name,played,wins,draws,losses,points,goal_diff
0,2023,Bundesliga,Bayer 04 Leverkusen,34,28,6,0,90,65
1,2023,Bundesliga,VfB Stuttgart,34,23,4,7,73,39
2,2023,Bundesliga,FC Bayern München,34,23,3,8,72,49
3,2023,Bundesliga,RB Leipzig,34,19,8,7,65,38
4,2023,Bundesliga,Borussia Dortmund,34,18,9,7,63,25
...,...,...,...,...,...,...,...,...,...
523,2025,Serie A,AC Pisa 1909,11,1,6,4,9,-6
524,2025,Serie A,Parma Calcio 1913,11,1,5,5,8,-7
525,2025,Serie A,Genoa CFC,11,1,4,6,7,-8
526,2025,Serie A,Hellas Verona FC,11,0,6,5,6,-10
527,2025,Serie A,ACF Fiorentina,11,0,5,6,5,-9

In [63]:
league_21_to_22

,season,league,team_name,played,wins,draws,losses,points,goal_diff
0,2021,Premier League,Manchester City,38,29,6,3,93,73
1,2021,Premier League,Liverpool,38,28,8,2,92,68
2,2021,Premier League,Chelsea,38,21,11,6,74,43
3,2021,Premier League,Tottenham,38,22,5,11,71,29
4,2021,Premier League,Arsenal,38,22,3,13,69,13
...,...,...,...,...,...,...,...,...,...
191,2022,Ligue 1,Nantes,38,7,15,16,36,-18
192,2022,Ligue 1,Auxerre,38,8,11,19,35,-28
193,2022,Ligue 1,Ajaccio,38,7,5,26,26,-51
194,2022,Ligue 1,Estac Troyes,38,4,12,22,24,-36
195,2022,Ligue 1,Angers,38,4,6,28,18,-48

In [66]:
# concattttt

new = pd.concat([league_21_to_22, league_23_to_25])
# new.to_csv('futball_21_25.csv')